body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/013/948/020/non_2x/world-map-connection-with-electronic-circuit-board-futuristic-modern-website-background-or-cover-page-for-technology-and-finance-concept-and-education-future-company-vector.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 150px;
    padding: 20px;
}

h1 {
    color: #fcfcfc;
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

p {
    color: #ffffff;
    font-size: 18px;
    line-height: 2.5;
    margin-bottom: 20px;
}
label {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    display: block;
    margin-bottom: 10px;
}
input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
nav{
   table-layout: fixed;
   width: 100%;
   margin: 20px 0;
    background-color: #ffffff;
    overflow: hidden;
}
whatsapp{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}